<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%file:%line] - %msg%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>/var/log/platform.log</file>-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%file:%line] - %msg%n</pattern>-->
            <!--&lt;!&ndash;<pattern>%d %-5level %logger{35} - %msg %n</pattern>&ndash;&gt;-->
        <!--</encoder>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
            <!--<FileNamePattern>/var/log/platform.log.%i.zip</FileNamePattern>-->
            <!--<MinIndex>1</MinIndex>-->
            <!--<MaxIndex>20</MaxIndex>-->
        <!--</rollingPolicy>-->

        <!--<triggeringPolicy-->
            <!--class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>100MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    <!--</appender>-->

    <logger name="org.hibernate.type" level="INFO" />
    <logger name="org.hibernate" level="INFO" />

    <root level="WARN">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
