<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout"
        >
<body>
<div class="container">
    <section layout:fragment="content">
        <div class="hero-unit pagination-centered">
Error
            <dl>
                <dt>Status</dt>
                <dd th:text="(${status} ?: 500)">Error Status</dd>
                <dt>Error</dt>
                <dd th:text="(${error} ?: 'Internal Error')">Error</dd>
                <dt th:unless="${#strings.isEmpty(message)}">Message</dt>
                <dd th:unless="${#strings.isEmpty(message)}" th:text="${message}">Error Message</dd>
                <dt th:unless="${#strings.isEmpty(exception)}">Exception</dt>
                <dd th:unless="${#strings.isEmpty(exception)}" th:text="${exception}">Error Exception</dd>
                <dt th:unless="${#strings.isEmpty(trace)}">Trace</dt>
                <dd th:unless="${#strings.isEmpty(trace)}" th:text="${trace}">Error Trace</dd>
                <dt th:unless="${url.length() == 0}">Url</dt>
                <dd th:unless="${url.length() == 0}" th:text="${url}">Error Url</dd>
            </dl>
        </div>
    </section>
</div>
</body>
</html>
