<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout"
        >
<body>
<div class="container">
    <section layout:fragment="content">
        <div class="hero-unit pagination-centered">
            <a href="list.html" th:href="@{/}">List</a>
            <form action="#" th:action="@{/form}" th:object="${person}" method="post">
                <input type="hidden" th:field="*{id}" />
                <table>
                    <tr>
                        <th>First name:</th>
                        <td>
                            <input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}? fieldError" />
                            <ul th:if="${#fields.hasErrors('firstName')}">
                                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Last name:</th>
                        <td>
                            <input type="text" th:field="*{lastName}" />
                            <ul th:if="${#fields.hasErrors('lastName')}">
                                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Middle name:</th>
                        <td>
                            <input type="text" th:field="*{middleName}" />
                            <ul th:if="${#fields.hasErrors('middleName')}">
                                <li th:each="err : ${#fields.errors('middleName')}" th:text="${err}" />
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Date of Birth:</th>
                        <td>
                            <input type="text" th:field="*{dateOfBirth}" />
                            <ul th:if="${#fields.hasErrors('dateOfBirth')}">
                                <li th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" />
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</div>
</body>
</html>
